<div>
  <div>
    <h1>Register!</h1>
    <form class="contain-everything" id="registerForm">
      <label>Name</label>
      <input name="name" />
      <label>Email</label>
      <input name="email" />
      <label>Password</label>
      <input type="password" name="password" />
      <input class="button-style" type="submit" />
    </form>
  </div>
</div>
<hr />
<div>
  <h1>Login!</h1>
  <form class="contain-everything" id="loginForm">
    <label>Email</label>
    <input name="email" />
    <label>Password</label>
    <input type="password" name="password" />
    <input class="button-style" type="submit" />
  </form>
</div>
<p>Manage Your Session:</p>
<div class="contain-everything2">
  <button class="button-style2" id="current">Check current session</button>
  <button class="button-style2" id="logout">Logout</button>
</div>

<script src="/js/user.js"></script>